- if defined? title
  .row
    .col-sm-6
      %h2.col-sm-offset-3.form-action-title= title
- object = (@comment.new_record? ? [@comment.record, @comment] : @comment)
- url = (@comment.new_record? ? record_comments_path : comment_path(@comment))
= simple_form_for object, url: url, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  .row= f.input :message, wrapper_html: { class: 'col-sm-6' }
  .row
    .col-sm-6
      .col-sm-offset-3= f.submit class: 'btn btn-primary'