.day-records

  .day-header
    margin-top: 40px
    background: gainsboro
    font-size: 16px
    height: 40px
    line-height: 40px
    padding-left: 30px

    .day-add
      float: right
      font-size: 14px
      padding: 0 10px
      background: rgba(64, 146, 255, 0.8)
      border: none
      color: white
      outline: none

  .day-body
    margin-top: 7px