%h1 New department

= form_for @department, url: admin_departments_path do |f|
  = f.text_field :title, placeholder: 'Title'
  %br
  = f.collection_select :parent_id, @departments, :id, :hierarchy_title, prompt: 'Root'
  %br
  = f.submit