%h1= "Record ##{@record.id}"
%h2 Comments
%table.table.table-responsive
  %thead
    %th User
    %th Message
  %tbody
    - @record.comments.each do |c|
      %tr
        %td= c.user.email
        %td= c.message
