#day-record-form.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Confirmation
      .modal-body
        %p Do you want to save changes you made to document before closing?
        %p.text-warning
          %small If you don't save, your changes will be lost.
      .modal-footer
        %button.btn.btn-primary{:type => "button"} Save